<div class="container mt-3">
    <div class="rotation row  mx-auto">
        <div class="col-md-5 text-center bg-white m-5 container">
            <p>Last champion</p>
        </div>
        <div class="col-md-5 bg-white m-5 container">
            {{#each rotacion}}
            <a href="/champs/{{this}}">
                <img src="http://ddragon.leagueoflegends.com/cdn/11.2.1/img/champion/{{this}}.png" alt="{{this}}"
                    class="rotation-img m-2"></a>
            {{/each}}
        </div>
    </div>
    <div class="row">
        {{#each name}}
        <div class="card col-md-auto card-style m-1 text-center">
            <div class="card-title">
                <img src="http://ddragon.leagueoflegends.com/cdn/11.2.1/img/champion/{{this}}.png" alt="{{this}}"
                    class="mt-2">
            </div>
            <div class="card-body">
                <a href="/champs/{{this}}">
                    {{this}}
                </a>
            </div>
        </div>
        {{/each}}
    </div>
</div>